
.nav-left{
    position: fixed;
    z-index: 1000;
}
.nav-right{
    position: fixed;
    z-index: 1000;
    left: 60%;
}

.main-content{
    width: 85%;
    margin-top: 10%;
    margin-left: 7%;
    display: flex;
    flex-wrap: wrap;
    
}

.item-container{
    width: 300px;
    height: 480px;
    margin: 12px;
}

.item-img img{
    width: 300px;
    height: 420px;
    border-radius: 2px;
    cursor: pointer;
}
.item-img:hover{
    transition: 0.4s all ease-in-out;
    transform: translateY(-8%);
}

.add-to-bag{
    border: 1px solid black;
    font-size: 20px;
    padding: 8px;
    border-radius: 60%;
    position: relative;
    left: 133px;
    bottom: 80px;
    background-color: white;
    cursor: pointer;
    
}
.add-to-bag:hover{
    background-color: rgb(211, 206, 206);
}
.item-details{
    position: relative;
    bottom: 40px;
    margin-top: 10px;
    padding: 4px;
    z-index: -1;
}

.item-details span{
    font-size: 15px;
    color: grey;
    cursor: pointer;
}
.item-name{
    font-size: 13px; 
}
.item-name:hover{
    text-decoration: underline;
}

.item-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.first-item-container {
    margin-left: 32%;
    margin-right: 30%;
    padding: 20px;
    width: 420px;
    height: 600px;
    margin-bottom: 20px;
}

.first-item-container img{
    width: 420px;
    height: 550px;
}

.first-item-container .item-img .add-to-bag{
    left: 198px;
}

